/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */
 
body > .container {
    padding: 60px 15px 0;
}

#server-list {
    display: table;
    
    .server:first-child {
        border-left: 1px solid black;
    }
    
    .server {
        /*display: table-row;*/
        display: table-cell;
        border-right: 1px solid black;
        border-top: 1px solid black;
        border-bottom: 1px solid black;

        #name {
            font-weight: bold;
            text-align: center;
            font-size: 14pt;
        }

        #name, #memory, #disks, #proccpu {
            /*display: table-cell;*/
        }

        div {
            border-bottom: 1px solid black;
            padding: 5px;
        }
        
        #memory {
            progress {
                width: 100%;
            }
        }

        #proccpu {
            table {
                border-collapse: collapse;

                thead tr td {
                    font-weight: bold;
                    text-align: center;
                    background: #D9EDF7;
                }
                
                td {
                    border: 1px solid #999;
                    font-size: small;
                    padding: 2px;
                }
            }
        }

        .disk {
            border-top: none;
            border-bottom: none;
            
            progress {
                width: 110px;
            }
        }

        .disk span {
            padding-right: 10px;
        }
    }
}

.timeout {
    background: #F5F5F5;
}