/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */

#server-list {
    display: table;

    .server {
        display: table-row;

        #name {
            font-weight: bold;
        }

        #name, #memory, #disks, #proccpu {
            display: table-cell;
        }

        div {
            border-bottom: 1px solid black;
            padding: 5px;
        }

        #proccpu {
            table {
                border-collapse: collapse;

                thead tr td {
                    font-weight: bold;
                }

                td {
                    border: 1px solid #999;
                    font-size: small;
                }
            }
        }

        .disk {
            border-top: none;
            border-bottom: none;
        }

        .disk span {
            padding-right: 10px;
        }
    }
}

.warning {
    background: #ee0;
}

.critical {
    background: #e00;
}

.timeout {
    background: #eee;
}